{% extends 'taxi/base_blog.html' %}

{% block title %}
{% endblock %}

{% block content %}
 
  <h1>Обслуживание клиентов такси</h1>

  <p>
    Обслуживание клиентов такси - это
     многопользовательская система офрормления заявок к таксистам,написаная на Django.

  
  <div class="card mt-4">
      <div class="card-header">
          <h5>
           User logins
          </h5>
      </div>
      <div class="card-body">

        <ul>
          <li>
            Чтобы войти как клиент - <code>+380998737905</code> или <code>+380998737906</code>
          </li>
        <li>
          Чтобы войти как драйвер - <code>+380998737907</code> или <code>+380998737909</code>
        </li>
        <li>
          Чтобы войти как оператор - <code>+380998737910</code> или <code>+380998737901</code>
        </li>
          
          <li>
              <b>Пароль для демо пользователей - <code>asdfS123456</code></b>
          </li>
        </ul>
        <p>
          {% if user.is_authenticated %}
            Вы уже вошли в систему.
          {% else %}
            <a href="{% url 'sign_in' %}" class="btn btn-primary">Войти</a>
          {% endif %}
        </p>
      </div>
    </div>

{% endblock %}
