{% extends "taxi/base_blog.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          {% if request.user.myuser.client %}
            {% for i in order %}
              <p>Откуда ехать:{{ i.place_from }}  </p>
              <p>Куда:{{ i.place_from }}</p>
              <p>Статус:{{i.status}}</p>
              <p><a href="{{ i.get_delete_url }}">Удалить заказ</a></p>
            {% endfor %}
          {% endif %}
    {% if request.user.myuser.driver %}
            {% for i in order %}
              <p>Откуда ехать:{{ i.place_from }}  </p>
              <p>Куда:{{ i.place_from }}</p>
              <p>Статус:{{i.status}}</p>
              <p><a href="{{ i.get_delete_url }}">Удалить заказ</a></p>
            {% endfor %}
          {% endif %}
    
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
{% endblock content %}
